/* tengamos en cuenta estos prefijos en la clase  sbd : sin border radius, bd : con border radius*/

@use "padding";
@use "ColorFondoElementos";
@use "Texto";
@use "redondear";


/* Estilos para la alerta numero 1 */
.alert-exito-bd
{
    background-color:ColorFondoElementos.$color_alerta_exito;
    @extend .pd-10;
    color: ColorFondoElementos.$color_border;
    @extend .txt-bold;
    @extend .redondear-1;
}

.alert-exito-sbd
{
    background-color:ColorFondoElementos.$color_alerta_exito;
    @extend .pd-10;
    color: ColorFondoElementos.$color_border;
    @extend .txt-bold;
}

/* Estilos para la alerta numero 2 */

.alert-advertencia-bd
{
    background-color: ColorFondoElementos.$color_secundario;
    @extend .pd-10;
    color: ColorFondoElementos.$color_text_gray;
    @extend .txt-bold;
    @extend .redondear-1;
}

.alert-advertencia-sbd
{
    background-color: ColorFondoElementos.$color_secundario;
    @extend .pd-10;
    color: ColorFondoElementos.$color_text_gray;
    @extend .txt-bold;
}

/* Estilos para la alerta numero 3 */

.alert-error-bd
{
    background-color: ColorFondoElementos.$color_secundario_rojo;
    @extend .pd-10;
    color: #fbfdff;
    @extend .redondear-1;
    @extend .txt-bold;
}

.alert-error-sbd
{
    background-color: ColorFondoElementos.$color_secundario_rojo;
    @extend .pd-10;
    color: #fbfdff;
    @extend .txt-bold;
}

/* Estilos para la alerta numero 4 color gris*/

.alert-gris-bd
{
    background-color: ColorFondoElementos.$color_text_gray;
    @extend .pd-10;
    color: ColorFondoElementos.$color_text_white;
    @extend .redondear-1;
    @extend .txt-bold;
}

.alert-gris-sbd
{
    background-color: ColorFondoElementos.$color_text_gray;
    @extend .pd-10;
    color: ColorFondoElementos.$color_text_white;
    @extend .txt-bold;
}

/* Estilos para la alerta numero 5 color azul */

.alert-azul-bd
{
    background-color: ColorFondoElementos.$color_seundario_2;
    @extend .pd-10;
    color: ColorFondoElementos.$color_text_white;
    @extend .redondear-1;;
    @extend .txt-bold;
}

.alert-azul-sbd
{
    background-color: ColorFondoElementos.$color_seundario_2;
    @extend .pd-10;
    color: ColorFondoElementos.$color_text_white;
    @extend .txt-bold;
}