@use "ColorFondoElementos";

.contenedor-1{
    background-color: ColorFondoElementos.$bg_principal;
}

.contenedor-2{
    background-color: ColorFondoElementos.$bg_princpal_2;
}

.contenedor-3{
    background-color: ColorFondoElementos.$color_text_gray;
}

.contenedor-4{
    background-color: ColorFondoElementos.$bg_principal_4;
}

