@import "ColorFondoElementos";

.contenedor-1{
    background-color: $bg_principal;
}

.contenedor-2{
    background-color: $bg_princpal_2;
}

.contenedor-3{
    background-color: $color_text_gray;
}

.contenedor-4{
    background-color: $bg_principal_4;
}

