.grid{
    display: grid;
}

.grid-template-col-1{
    grid-template-columns: repeat(1,minmax(0,1fr));
}

.grid-template-col-2{
    grid-template-columns: repeat(2,minmax(0,1fr));
}

.grid-template-col-3{
    grid-template-columns: repeat(3,minmax(0,1fr));
}

.grid-template-col-4{
    grid-template-columns: repeat(4,minmax(0,1fr));
}

.grid-template-col-5{
    grid-template-columns: repeat(5,minmax(0,1fr));
}

.grid-template-col-6{
    grid-template-columns: repeat(6,minmax(0,1fr));
}


.grid-template-row-1{
    grid-template-rows: repeat(1,minmax(0,1fr));
}

.grid-template-row-2{
    grid-template-rows: repeat(2,minmax(0,1fr));
}

.grid-template-row-3{
    grid-template-rows: repeat(3,minmax(0,1fr));
}

.grid-template-row-4{
    grid-template-rows: repeat(4,minmax(0,1fr));
}

.grid-template-row-5{
    grid-template-rows: repeat(5,minmax(0,1fr));
}

.grid-template-row-6{
    grid-template-rows: repeat(6,minmax(0,1fr));
}

.grid-col-start-1{
    grid-column-start: 1;
}

.grid-col-start-2{
    grid-column-start: 2;
}

.grid-col-start-3{
    grid-column-start: 3;
}

.grid-col-start-4{
    grid-column-start: 4;
}

.grid-col-start-5{
    grid-column-start: 5;
}

.grid-col-start-6{
    grid-column-start: 6;
}

.grid-col-start-7{
    grid-column-start: 7;
}

.grid-col-end-1{
    grid-column-end: 1;
}

.grid-col-end-2{
    grid-column-end: 2;
}

.grid-col-end-3{
    grid-column-end: 3;
}

.grid-col-end-4{
    grid-column-end: 4;
}

.grid-col-end-5{
    grid-column-end: 5;
}

.grid-col-end-6{
    grid-column-end: 6;
}

.grid-col-end-7{
    grid-column-end: 7;
}

.grid-row-start-1{
    grid-row-start: 1;
}

.grid-row-start-2{
    grid-row-start: 2;
}

.grid-row-start-3{
    grid-row-start: 3;
}

.grid-row-start-4{
    grid-row-start: 4;
}

.grid-row-start-5{
    grid-row-start: 5;
}

.grid-row-start-6{
    grid-row-start: 6;
}

.grid-row-start-7{
    grid-row-start: 7;
}

.grid-row-end-1{
    grid-row-end: 1;
}

.grid-row-end-2{
    grid-row-end: 2;
}

.grid-row-end-3{
    grid-row-end: 3;
}

.grid-row-end-4{
    grid-row-end: 4;
}

.grid-row-end-5{
    grid-row-end: 5;
}

.grid-row-end-6{
    grid-row-end: 6;
}

.grid-row-end-7{
    grid-row-end: 7;
}

.col-gap-0{
    column-gap: 0;
}

.col-gap-2{
    column-gap: 2px;
}

.col-gap-5{
    column-gap: 5px;
}

.col-gap-10{
    column-gap: 10px;
}

.col-gap-15{
    column-gap: 15px;
}

.col-gap-20{
    column-gap: 20px;
}

.row-gap-0{
    row-gap: 0;
}

.row-gap-2{
    row-gap: 2px;
}

.row-gap-5{
    row-gap: 5px;
}

.row-gap-10{
    row-gap: 10px;
}

.row-gap-15{
    row-gap: 15px;
}

.row-gap-20{
    row-gap: 20px;
}

.justify-items-start{
    justify-items: start;
}

.justify-items-end{
    justify-items: end;
}

.justify-items-center{
    justify-items: center;
}

.justify-items-stretch{
    justify-items: stretch;
}

.justify-self-start{
    justify-self: start;
}

.justify-self-end{
    justify-self: end;
}

.justify-self-center{
    justify-self: center;
}

.justify-self-stretch{
    justify-self: stretch;
}

/*Clases de grid que se ejecutan en base a un media query que funcionan hasta los 500px*/

@media (max-width:500px){
    .sm-grid{
        display: grid;
    }
    
    .sm-grid-template-col-1{
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    
    .sm-grid-template-col-2{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
    
    .sm-grid-template-col-3{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
    
    .sm-grid-template-col-4{
        grid-template-columns: repeat(4,minmax(0,1fr));
    }
    
    .sm-grid-template-col-5{
        grid-template-columns: repeat(5,minmax(0,1fr));
    }
    
    .sm-grid-template-col-6{
        grid-template-columns: repeat(6,minmax(0,1fr));
    }
    
    
    .sm-grid-template-row-1{
        grid-template-rows: repeat(1,minmax(0,1fr));
    }
    
    .sm-grid-template-row-2{
        grid-template-rows: repeat(2,minmax(0,1fr));
    }
    
    .sm-grid-template-row-3{
        grid-template-rows: repeat(3,minmax(0,1fr));
    }
    
    .sm-grid-template-row-4{
        grid-template-rows: repeat(4,minmax(0,1fr));
    }
    
    .sm-grid-template-row-5{
        grid-template-rows: repeat(5,minmax(0,1fr));
    }
    
    .sm-grid-template-row-6{
        grid-template-rows: repeat(6,minmax(0,1fr));
    }
    
    .sm-grid-col-start-1{
        grid-column-start: 1;
    }
    
    .sm-grid-col-start-2{
        grid-column-start: 2;
    }
    
    .sm-grid-col-start-3{
        grid-column-start: 3;
    }
    
    .sm-grid-col-start-4{
        grid-column-start: 4;
    }
    
    .sm-grid-col-start-5{
        grid-column-start: 5;
    }
    
    .sm-grid-col-start-6{
        grid-column-start: 6;
    }
    
    .sm-grid-col-start-7{
        grid-column-start: 7;
    }
    
    .sm-grid-col-end-1{
        grid-column-end: 1;
    }
    
    .sm-grid-col-end-2{
        grid-column-end: 2;
    }
    
    .sm-grid-col-end-3{
        grid-column-end: 3;
    }
    
    .sm-grid-col-end-4{
        grid-column-end: 4;
    }
    
    .sm-grid-col-end-5{
        grid-column-end: 5;
    }
    
    .sm-grid-col-end-6{
        grid-column-end: 6;
    }
    
    .sm-grid-col-end-7{
        grid-column-end: 7;
    }
    
    .sm-grid-row-start-1{
        grid-row-start: 1;
    }
    
    .sm-grid-row-start-2{
        grid-row-start: 2;
    }
    
    .sm-grid-row-start-3{
        grid-row-start: 3;
    }
    
    .sm-grid-row-start-4{
        grid-row-start: 4;
    }
    
    .sm-grid-row-start-5{
        grid-row-start: 5;
    }
    
    .sm-grid-row-start-6{
        grid-row-start: 6;
    }
    
    .sm-grid-row-start-7{
        grid-row-start: 7;
    }
    
    .sm-grid-row-end-1{
        grid-row-end: 1;
    }
    
    .sm-grid-row-end-2{
        grid-row-end: 2;
    }
    
    .sm-grid-row-end-3{
        grid-row-end: 3;
    }
    
    .sm-grid-row-end-4{
        grid-row-end: 4;
    }
    
    .sm-grid-row-end-5{
        grid-row-end: 5;
    }
    
    .sm-grid-row-end-6{
        grid-row-end: 6;
    }
    
    .sm-grid-row-end-7{
        grid-row-end: 7;
    }
    
    .sm-col-gap-0{
        column-gap: 0;
    }
    
    .sm-col-gap-2{
        column-gap: 2px;
    }
    
    .sm-col-gap-5{
        column-gap: 5px;
    }
    
    .sm-col-gap-10{
        column-gap: 10px;
    }
    
    .sm-col-gap-15{
        column-gap: 15px;
    }
    
    .sm-col-gap-20{
        column-gap: 20px;
    }
    
    .sm-row-gap-0{
        row-gap: 0;
    }
    
    .sm-row-gap-2{
        row-gap: 2px;
    }
    
    .sm-row-gap-5{
        row-gap: 5px;
    }
    
    .sm-row-gap-10{
        row-gap: 10px;
    }
    
    .sm-row-gap-15{
        row-gap: 15px;
    }
    
    .sm-row-gap-20{
        row-gap: 20px;
    }
    
    .sm-justify-items-start{
        justify-items: start;
    }
    
    .sm-justify-items-end{
        justify-items: end;
    }
    
    .sm-justify-items-center{
        justify-items: center;
    }
    
    .sm-justify-items-stretch{
        justify-items: stretch;
    }
    
    .sm-justify-self-start{
        justify-self: start;
    }
    
    .sm-justify-self-end{
        justify-self: end;
    }
    
    .sm-justify-self-center{
        justify-self: center;
    }
    
    .sm-justify-self-stretch{
        justify-self: stretch;
    }
}

/*Clases de grid que se ejecutan en base a un media query que funcionan desde los 501px hasta los 1023px*/

@media (min-width:501px) and (max-width:1023px){
    .md-grid{
        display: grid;
    }
    
    .md-grid-template-col-1{
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    
    .md-grid-template-col-2{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
    
    .md-grid-template-col-3{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
    
    .md-grid-template-col-4{
        grid-template-columns: repeat(4,minmax(0,1fr));
    }
    
    .md-grid-template-col-5{
        grid-template-columns: repeat(5,minmax(0,1fr));
    }
    
    .md-grid-template-col-6{
        grid-template-columns: repeat(6,minmax(0,1fr));
    }
    
    
    .md-grid-template-row-1{
        grid-template-rows: repeat(1,minmax(0,1fr));
    }
    
    .md-grid-template-row-2{
        grid-template-rows: repeat(2,minmax(0,1fr));
    }
    
    .md-grid-template-row-3{
        grid-template-rows: repeat(3,minmax(0,1fr));
    }
    
    .md-grid-template-row-4{
        grid-template-rows: repeat(4,minmax(0,1fr));
    }
    
    .md-grid-template-row-5{
        grid-template-rows: repeat(5,minmax(0,1fr));
    }
    
    .md-grid-template-row-6{
        grid-template-rows: repeat(6,minmax(0,1fr));
    }
    
    .md-grid-col-start-1{
        grid-column-start: 1;
    }
    
    .md-grid-col-start-2{
        grid-column-start: 2;
    }
    
    .md-grid-col-start-3{
        grid-column-start: 3;
    }
    
    .md-grid-col-start-4{
        grid-column-start: 4;
    }
    
    .md-grid-col-start-5{
        grid-column-start: 5;
    }
    
    .md-grid-col-start-6{
        grid-column-start: 6;
    }
    
    .md-grid-col-start-7{
        grid-column-start: 7;
    }
    
    .md-grid-col-end-1{
        grid-column-end: 1;
    }
    
    .md-grid-col-end-2{
        grid-column-end: 2;
    }
    
    .md-grid-col-end-3{
        grid-column-end: 3;
    }
    
    .md-grid-col-end-4{
        grid-column-end: 4;
    }
    
    .md-grid-col-end-5{
        grid-column-end: 5;
    }
    
    .md-grid-col-end-6{
        grid-column-end: 6;
    }
    
    .md-grid-col-end-7{
        grid-column-end: 7;
    }
    
    .md-grid-row-start-1{
        grid-row-start: 1;
    }
    
    .md-grid-row-start-2{
        grid-row-start: 2;
    }
    
    .md-grid-row-start-3{
        grid-row-start: 3;
    }
    
    .md-grid-row-start-4{
        grid-row-start: 4;
    }
    
    .md-grid-row-start-5{
        grid-row-start: 5;
    }
    
    .md-grid-row-start-6{
        grid-row-start: 6;
    }
    
    .md-grid-row-start-7{
        grid-row-start: 7;
    }
    
    .md-grid-row-end-1{
        grid-row-end: 1;
    }
    
    .md-grid-row-end-2{
        grid-row-end: 2;
    }
    
    .md-grid-row-end-3{
        grid-row-end: 3;
    }
    
    .md-grid-row-end-4{
        grid-row-end: 4;
    }
    
    .md-grid-row-end-5{
        grid-row-end: 5;
    }
    
    .md-grid-row-end-6{
        grid-row-end: 6;
    }
    
    .md-grid-row-end-7{
        grid-row-end: 7;
    }
    
    .md-col-gap-0{
        column-gap: 0;
    }
    
    .md-col-gap-2{
        column-gap: 2px;
    }
    
    .md-col-gap-5{
        column-gap: 5px;
    }
    
    .md-col-gap-10{
        column-gap: 10px;
    }
    
    .md-col-gap-15{
        column-gap: 15px;
    }
    
    .md-col-gap-20{
        column-gap: 20px;
    }
    
    .md-row-gap-0{
        row-gap: 0;
    }
    
    .md-row-gap-2{
        row-gap: 2px;
    }
    
    .md-row-gap-5{
        row-gap: 5px;
    }
    
    .md-row-gap-10{
        row-gap: 10px;
    }
    
    .md-row-gap-15{
        row-gap: 15px;
    }
    
    .md-row-gap-20{
        row-gap: 20px;
    }
    
    .md-justify-items-start{
        justify-items: start;
    }
    
    .md-justify-items-end{
        justify-items: end;
    }
    
    .md-justify-items-center{
        justify-items: center;
    }
    
    .md-justify-items-stretch{
        justify-items: stretch;
    }
    
    .md-justify-self-start{
        justify-self: start;
    }
    
    .md-justify-self-end{
        justify-self: end;
    }
    
    .md-justify-self-center{
        justify-self: center;
    }
    
    .md-justify-self-stretch{
        justify-self: stretch;
    }
}

/*Clases de grid que se ejecutan en base a un media query que funcionan desde los 1024px*/

@media  (min-width:1024px){
    .bg-grid{
        display: grid;
    }
    
    .bg-grid-template-col-1{
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    
    .bg-grid-template-col-2{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
    
    .bg-grid-template-col-3{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
    
    .bg-grid-template-col-4{
        grid-template-columns: repeat(4,minmax(0,1fr));
    }
    
    .bg-grid-template-col-5{
        grid-template-columns: repeat(5,minmax(0,1fr));
    }
    
    .bg-grid-template-col-6{
        grid-template-columns: repeat(6,minmax(0,1fr));
    }
    
    
    .bg-grid-template-row-1{
        grid-template-rows: repeat(1,minmax(0,1fr));
    }
    
    .bg-grid-template-row-2{
        grid-template-rows: repeat(2,minmax(0,1fr));
    }
    
    .bg-grid-template-row-3{
        grid-template-rows: repeat(3,minmax(0,1fr));
    }
    
    .bg-grid-template-row-4{
        grid-template-rows: repeat(4,minmax(0,1fr));
    }
    
    .bg-grid-template-row-5{
        grid-template-rows: repeat(5,minmax(0,1fr));
    }
    
    .bg-grid-template-row-6{
        grid-template-rows: repeat(6,minmax(0,1fr));
    }
    
    .bg-grid-col-start-1{
        grid-column-start: 1;
    }
    
    .bg-grid-col-start-2{
        grid-column-start: 2;
    }
    
    .bg-grid-col-start-3{
        grid-column-start: 3;
    }
    
    .bg-grid-col-start-4{
        grid-column-start: 4;
    }
    
    .bg-grid-col-start-5{
        grid-column-start: 5;
    }
    
    .bg-grid-col-start-6{
        grid-column-start: 6;
    }
    
    .bg-grid-col-start-7{
        grid-column-start: 7;
    }
    
    .bg-grid-col-end-1{
        grid-column-end: 1;
    }
    
    .bg-grid-col-end-2{
        grid-column-end: 2;
    }
    
    .bg-grid-col-end-3{
        grid-column-end: 3;
    }
    
    .bg-grid-col-end-4{
        grid-column-end: 4;
    }
    
    .bg-grid-col-end-5{
        grid-column-end: 5;
    }
    
    .bg-grid-col-end-6{
        grid-column-end: 6;
    }
    
    .bg-grid-col-end-7{
        grid-column-end: 7;
    }
    
    .bg-grid-row-start-1{
        grid-row-start: 1;
    }
    
    .bg-grid-row-start-2{
        grid-row-start: 2;
    }
    
    .bg-grid-row-start-3{
        grid-row-start: 3;
    }
    
    .bg-grid-row-start-4{
        grid-row-start: 4;
    }
    
    .bg-grid-row-start-5{
        grid-row-start: 5;
    }
    
    .bg-grid-row-start-6{
        grid-row-start: 6;
    }
    
    .bg-grid-row-start-7{
        grid-row-start: 7;
    }
    
    .bg-grid-row-end-1{
        grid-row-end: 1;
    }
    
    .bg-grid-row-end-2{
        grid-row-end: 2;
    }
    
    .bg-grid-row-end-3{
        grid-row-end: 3;
    }
    
    .bg-grid-row-end-4{
        grid-row-end: 4;
    }
    
    .bg-grid-row-end-5{
        grid-row-end: 5;
    }
    
    .bg-grid-row-end-6{
        grid-row-end: 6;
    }
    
    .bg-grid-row-end-7{
        grid-row-end: 7;
    }
    
    .bg-col-gap-0{
        column-gap: 0;
    }
    
    .bg-col-gap-2{
        column-gap: 2px;
    }
    
    .bg-col-gap-5{
        column-gap: 5px;
    }
    
    .bg-col-gap-10{
        column-gap: 10px;
    }
    
    .bg-col-gap-15{
        column-gap: 15px;
    }
    
    .bg-col-gap-20{
        column-gap: 20px;
    }
    
    .bg-row-gap-0{
        row-gap: 0;
    }
    
    .bg-row-gap-2{
        row-gap: 2px;
    }
    
    .bg-row-gap-5{
        row-gap: 5px;
    }
    
    .bg-row-gap-10{
        row-gap: 10px;
    }
    
    .bg-row-gap-15{
        row-gap: 15px;
    }
    
    .bg-row-gap-20{
        row-gap: 20px;
    }
    
    .bg-justify-items-start{
        justify-items: start;
    }
    
    .bg-justify-items-end{
        justify-items: end;
    }
    
    .bg-justify-items-center{
        justify-items: center;
    }
    
    .bg-justify-items-stretch{
        justify-items: stretch;
    }
    
    .bg-justify-self-start{
        justify-self: start;
    }
    
    .bg-justify-self-end{
        justify-self: end;
    }
    
    .bg-justify-self-center{
        justify-self: center;
    }
    
    .bg-justify-self-stretch{
        justify-self: stretch;
    }
}