@use "border";
@use "Botones";
@use "ColorFondoElementos";
@use "flex";
@use "margin";
@use "OcultarElemento";
@use "padding";
@use "Texto";
@use "mover";
@use "redondear";

.formulario {
   
    display: flex;
    flex-direction: column;
}

.row {
   flex-direction: row;
}

.column {
    
    flex-direction: column;
}

/* Media queries aquí para ajustes en diferentes tamaños de pantalla */

@media(max-width:500px){
    .sm-column{
        flex-direction: column;
    }
    .sm-row{
        flex-direction: row;
    }
}

@media (min-width:501px) and (max-width:1023px){
    .md-column{
        flex-direction: column;
    }
    .md-row{
        flex-direction: row;
    }
}

@media (min-width:1024px){
    .bg-column{
        flex-direction: column;
    }
    .bg-row{
        flex-direction: row;
    }
}