@import "border";
@import "Botones";
@import "ColorFondoElementos";
@import "flex";
@import "margin";
@import "OcultarElemento";
@import "padding";
@import "Texto";
@import "mover";
@import "redondear";



.formulario {
    display: flex;
    flex-direction: column;
}
form h1 {
    text-align: center !important;
}


.row {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente los elementos */
    gap: 10px; /* Espacio entre elementos */
}


.column {
    flex: 1;
    padding: 10px;
}

.column{
    flex-direction: column;
    
}

.row{
    flex-direction: column;
}

//celulares
@media(max-width:500px){
    .sm-column{
        flex-direction: column;
    }
    .sm-row{
        flex-direction: row;
    }
}


//tables
@media (min-width:501px) and (max-width:1023px){
    .md-column{
        flex-direction: column;
    }
    .md-row{
        flex-direction: row;
    }
}

//pantallas de resolucion 1024px
@media (min-width:1024px){
    .bg-column{
        flex-direction: column;
    }
    .bg-row{
        flex-direction: row;
    }
}