@use "border";
@use "Botones";
@use "ColorFondoElementos";
@use "flex";
@use "margin";
@use "OcultarElemento";
@use "padding";
@use "Texto";
@use "mover";
@use "redondear";

.formulario {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 40px; /* Ajusta el espacio entre las filas según sea necesario */
    padding: 20px; /* Añade relleno alrededor del formulario */
}

form h1 {
    text-align: center !important;
}

.row {
    border: 1px solid black;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

label {
    width: 30%; /* Cambiado a unidad relativa */
}

input, select {
    flex: 1;
}

.column {
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: center;
}

/* Media queries aquí para ajustes en diferentes tamaños de pantalla */

@media(max-width:500px){
    .sm-column{
        flex-direction: column;
    }
    .sm-row{
        flex-direction: row;
    }
}

@media (min-width:501px) and (max-width:1023px){
    .md-column{
        flex-direction: column;
    }
    .md-row{
        flex-direction: row;
    }
}

@media (min-width:1024px){
    .bg-column{
        flex-direction: column;
    }
    .bg-row{
        flex-direction: row;
    }
}