.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.right-0 {
    right: 0%;
}

.right-1 {
    right: 10%;
}

.right-2 {
    right: 20%;
}

.right-3 {
    right: 30%;
}

.right-4 {
    right: 40%;
}

.right-5 {
    right: 50%;
}

.right-6 {
    right: 60%;
}

.right-7 {
    right: 70%;
}

.right-8 {
    right: 80%;
}

.right-9 {
    right: 90%;
}

.right-10 {
    right: 100%;
}

.top-0 {
    top: 0%;
}

.top-1 {
    top: 10%;
}

.top-2 {
    top: 20%;
}

.top-3 {
    top: 30%;
}

.top-4 {
    top: 40%;
}

.top-5 {
    top: 50%;
}

.top-6 {
    top: 60%;
}

.top-7 {
    top: 70%;
}

.top-8 {
    top: 80%;
}

.top-9 {
    top: 90%;
}

.top-10 {
    top: 100%;
}

.left-0 {
    left: 0%;
}

.left-1 {
    left: 10%;
}

.left-2 {
    left: 20%;
}

.left-3 {
    left: 30%;
}

.left-4 {
    left: 40%;
}

.left-5 {
    left: 50%;
}

.left-6 {
    left: 60%;
}

.left-7 {
    left: 70%;
}

.left-8 {
    left: 80%;
}

.left-9 {
    left: 90%;
}

.left-10 {
    left: 100%;
}

.bottom-0 {
    bottom: 0%;
}

.bottom-1 {
    bottom: 10%;
}

.bottom-2 {
    bottom: 20%;
}

.bottom-3 {
    bottom: 30%;
}

.bottom-4 {
    bottom: 40%;
}

.bottom-5 {
    bottom: 50%;
}

.bottom-6 {
    bottom: 60%;
}

.bottom-7 {
    bottom: 70%;
}

.bottom-8 {
    bottom: 80%;
}

.bottom-9 {
    bottom: 90%;
}

.bottom-10 {
    bottom: 100%;
}
