/* tengamos en cuenta estos prefijos en la clase  sbd : sin border radius, bd : con border radius*/

@import "padding";
@import "ColorFondoElementos";
@import "Texto";
@import "redondear";


/* Estilos para la alerta numero 1 */
.alert-exito-bd
{
    background-color:$color_alerta_exito;
    @extend .pd-10;
    color: $color_border;
    @extend .txt-bold;
    @extend .redondear-1;
}

.alert-exito-sbd
{
    background-color:$color_alerta_exito;
    @extend .pd-10;
    color: $color_border;
    @extend .txt-bold;
}

/* Estilos para la alerta numero 2 */

.alert-advertencia-bd
{
    background-color: $color_secundario;
    @extend .pd-10;
    color: $color_text_gray;
    @extend .txt-bold;
    @extend .redondear-1;
}

.alert-advertencia-sbd
{
    background-color: $color_secundario;
    @extend .pd-10;
    color: $color_text_gray;
    @extend .txt-bold;
}