@import "ColorFondoElementos";
@import "redondear";
@import "padding";

/*el numero en la clase es el tamaño del boton*/

/*Boton con diferente tamaño de color azul*/
.btn-10-azul
{
    @extend .redondear-1;
    @extend .pd-10;
    background-color: $color_seundario_2;
    color: $bg_princpal_2;
    border: 2px solid ;
    height: auto;
    width: 10%;
    font-weight: bold;
}

.btn-20-azul
{
    @extend .redondear-1;
    @extend .pd-10;
    background-color: $color_seundario_2;
    color: $bg_princpal_2;
    border: 2px solid ;
    height: auto;
    width: 20%;
    font-weight: bold;
}

.btn-50-azul
{
    @extend .redondear-1;
    @extend .pd-10;
    background-color: $color_seundario_2;
    color: $bg_princpal_2;
    border: 2px solid;
    height: auto;
    width: 50%;
    font-weight: bold;
}

.btn-80-azul
{
    @extend .redondear-1;
    @extend .pd-10;
    background-color: $color_seundario_2;
    color: $bg_princpal_2;
    border: 2px solid;
    height: auto;
    width: 80%;
    font-weight: bold;
}

.btn-100-azul
{
    background-color: $color_seundario_2;
    color: $bg_princpal_2;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid;
    height: auto;
    width: 100%;
    font-weight: bold;
}

.btn-10-azul:hover
{
    background-color: $bg_principal_3;
    color: $bg_princpal_2;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid;
    height: auto;
    width: 10%;
    font-weight: bold;
}

.btn-20-azul:hover
{
    background-color: $bg_principal_3;
    color: $bg_princpal_2;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid;
    height: auto;
    width: 20%;
    font-weight: bold;
}

.btn-50-azul:hover
{
    background-color: $bg_principal_3;
    color: $bg_princpal_2;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid ;
    height: auto;
    width: 50%;
    font-weight: bold;
}

.btn-80-azul:hover
{
    background-color: $bg_principal_3;
    color: $bg_princpal_2;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid;
    height: auto;
    width: 80%;
    font-weight: bold;
}

.btn-100-azul:hover
{
    background-color: $bg_principal_3;
    color: $bg_princpal_2;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid;
    height: auto;
    width: 100%;
    font-weight: bold;
}

/* estilos para nuestro boton transparente */
.btn-10-transparente
{
    background-color: transparent;
    color:$bg_principal;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid $color_seundario_2;
    height: auto;
    width: 10%;
    font-weight: bold;
}


.btn-20-transparente
{
    background-color: transparent;
    color: $bg_principal;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid $color_seundario_2;
    height: auto;
    width: 20%;
    font-weight: bold;
}

.btn-50-transparente
{
    background-color: transparent;
    color: $bg_principal;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid $color_seundario_2;
    height: auto;
    width: 50%;
    font-weight: bold;
}

.btn-80-transparente
{
    background-color: transparent;
    color: $bg_principal;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid $color_seundario_2;
    height: auto;
    width: 80%;
    font-weight: bold;
}

.btn-100-transparente
{
    background-color: transparent;
    color:$bg_principal;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid $color_seundario_2;
    height: auto;
    width: 100%;
    font-weight: bold;
}

.btn-10-transparente:hover
{
    background-color: $bg_principal_3;
    color:$color_text_white;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid;
    height: auto;
    width: 10%;
    font-weight: bold;
}


.btn-20-transparente:hover
{
    background-color: $bg_principal_3;
    color: $color_text_white;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid;
    height: auto;
    width: 20%;
    font-weight: bold;
}

.btn-50-transparente:hover
{
    background-color: $bg_principal_3;
    color: $color_text_white;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid;
    height: auto;
    width: 50%;
    font-weight: bold;
}

.btn-80-transparente:hover
{
    background-color: $bg_principal_3;
    color: $color_text_white;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid;
    height: auto;
    width: 80%;
    font-weight: bold;
}

.btn-100-transparente:hover
{
    background-color: $bg_principal_3;
    color:$color_text_white;
    @extend .redondear-1;
    @extend .pd-10;
    border: 2px solid;
    height: auto;
    width: 100%;
    font-weight: bold;
}