/*Colores de fondos para nuestros elementos*/
$bg_principal: #14142b;
$bg_princpal_2: #fff;
$color_text_white: #fbfdff;
$color_title: #0f2145;
$color_secundario: #f2be4e;
$color_seundario_2: #3e31fa;
$color_text_gray: #5e6a83;
$color_secundario_rojo: #ca024f;
$color_alerta_exito: #a2d98c;
$color_border: #2AAC0A;
$bg_principal_3: #0255a5;
$bg_principal_4: #F3F5F8;