/*Colores de fondos para nuestros elementos*/
$Color_Uno:#276E90;
$Color_Dos: #CECFC9;
$Color_Tres: #0A3143;
$Color_Cuatro: #EFEFEF;
$Color_Cinco: #FF3B3F;
$bgColor1:#2c3e50;
$bgColor2: #3c1053;
$bgColor3: #8E0E00;
$bgColor4:#1F1C18;
