/*Colores de fondos para nuestros elementos*/
$Color_Uno:#276E90;
$Color_Dos: #CECFC9;
$Color_Tres: #0A3143;
$Color_Cuatro: #EFEFEF;
$Color_Cinco: #FF3B3F;
$Color_Seis: #2C3E50;
$Color_Siete: #3C1053;
