.flex{
    display: flex;
}

.flex-d-row{
    flex-direction: row;
}

.flex-d-rowr{
    flex-direction: row-reverse;
}

.flex-d-col{
    flex-direction: column;
}

.flex-d-colr{
    flex-direction: column-reverse;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-wrapr{
    flex-wrap: wrap-reverse;
}
.flex-nwrap{
    flex-wrap: nowrap;
}

.flex-basis-1{
    flex-basis: 10%;
}

.flex-basis-2{
    flex-basis: 20%;
}

.flex-basis-3{
    flex-basis: 30%;
}
.flex-basis-4{
    flex-basis: 40%;
}

.flex-basis-5{
    flex-basis: 50%;
}

.flex-basis-6{
    flex-basis: 60%;
}

.flex-basis-7{
    flex-basis: 70%;
}

.flex-basis-8{
    flex-basis: 80%;
}

.flex-basis-9{
    flex-basis: 00%;
}

.flex-basis-10{
    flex-basis: 100%;
   
}

.flex-grow-0{
    flex-grow: 0;
}

.flex-grow-1{
    flex-grow: 1;
}

.flex-grow-2{
    flex-grow: 2;
}

.flex-grow-3{
    flex-grow: 3;
}

.flex-grow-4{
    flex-grow: 4;
}

.flex-grow-5{
    flex-grow: 5;
}

.flex-grow-6{
    flex-grow: 6;
}

.flex-grow-7{
    flex-grow: 7;
}

.flex-grow-8{
    flex-grow: 8;
}

.flex-grow-9{
    flex-grow: 9;
}

.flex-grow-10{
    flex-grow: 10;
}


.flex-shrink-0{
    flex-shrink: 0;
}

.flex-shrink-1{
    flex-shrink: 1;
}

.flex-shrink-2{
    flex-shrink: 2;
}

.flex-shrink-3{
    flex-shrink: 3;
}

.flex-shrink-4{
    flex-shrink: 4;
}

.flex-shrink-5{
    flex-shrink: 5;
}

.flex-shrink-6{
    flex-shrink: 6;
}

.flex-shrink-7{
    flex-shrink: 7;
}

.flex-shrink-8{
    flex-shrink: 8;
}

.flex-shrink-9{
    flex-shrink: 9;
}

.flex-shrink-10{
    flex-shrink: 10;
}

.justify-content-start{
    justify-content: start;
}

.justify-content-end{
    justify-content: end;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-evenly{
    justify-content: space-evenly;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-between{
    justify-content: space-between;
}

.align-content-start{
    align-content: start;
}

.align-content-end{
    align-content: end;
}

.align-content-center{
    align-content: center;
}

.align-content-evenly{
    align-content: space-evenly;
}

.align-content-around{
    align-content: space-around;
}

.align-content-between{
    align-content: space-between;
}

.align-items-start{
    align-items: start;
}

.align-items-end{
    align-items: end;
}

.align-items-center{
    align-items: center;
}

.align-items-stretch{
    align-items: stretch;
}

.align-items-baseline{
    align-items:baseline;
}

.align-self-start{
    align-self: start;
}

.align-self-end{
    align-self: end;
}

.align-self-center{
    align-self: center;
}

.align-self-stretch{
    align-self: stretch;
}

.align-self-baseline{
    align-self:baseline;
}

.gap-0{
    gap:0;
}

.gap-2{
    gap:2px;
}

.gap-5{
    gap:5px;
}

.gap-10{
    gap: 10px;
}

.gap-15{
    gap:15px;
}

.gap-20{
    gap:20px;
}











