.wd-100{
    width: 100%;
}

.wd-90{
    width: 90%;
}


.wd-80{
    width: 80%;
}


.wd-70{
    width: 70%;
}


.wd-60{
    width: 60%;
}

.wd-50{
    width: 50%;
}

.wd-40{
    width: 40%;
}

.wd-30{
    width: 30%;
}

.wd-20{
    width: 20%;
}

.wd-10{
    width: 10%;
}

.wd-auto{
    width: auto;
}


/*Creando anchos que se apliquen cuando la resolucion sea menor de 500px*/

@media (max-width:500px){
    .sm-wd-100{
        width: 100%;
    }
    
    .sm-wd-90{
        width: 90%;
    }
    
    
    .sm-wd-80{
        width: 80%;
    }
    
    
    .sm-wd-70{
        width: 70%;
    }
    
    
    .sm-wd-60{
        width: 60%;
    }
    
    .sm-wd-50{
        width: 50%;
    }
    
    .sm-wd-40{
        width: 40%;
    }
    
    .sm-wd-30{
        width: 30%;
    }
    
    .sm-wd-20{
        width: 20%;
    }
    
    .sm-wd-10{
        width: 10%;
    }
    
    .sm-wd-auto{
        width: auto;
    }
    
}