body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px; /* Ajusta el ancho del formulario según sea necesario */
    border: 1px solid black;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    align-self: flex-start;
}

input {
    width: 100%;
}

.submit-button {
    margin-top: 20px;
    align-self: center;
    padding: 10px 20px; /* Ajusta el padding para cambiar el tamaño del botón */
}