@charset "UTF-8";
/*Colores de fondos para nuestros elementos*/
.redondear-1, .btn-100-cinco:hover, .btn-80-cinco:hover, .btn-50-cinco:hover, .btn-20-cinco:hover, .btn-10-cinco:hover, .btn-100-cinco, .btn-80-cinco, .btn-50-cinco, .btn-20-cinco, .btn-10-cinco, .btn-100-cuatro:hover, .btn-80-cuatro:hover, .btn-50-cuatro:hover, .btn-20-cuatro:hover, .btn-10-cuatro:hover, .btn-100-cuatro, .btn-80-cuatro, .btn-50-cuatro, .btn-20-cuatro, .btn-10-cuatro, .btn-100-tres:hover, .btn-80-tres:hover, .btn-50-tres:hover, .btn-20-tres:hover, .btn-10-tres:hover, .btn-100-tres, .btn-80-tres, .btn-50-tres, .btn-20-tres, .btn-10-tres, .btn-100-transparente:hover, .btn-80-transparente:hover, .btn-50-transparente:hover, .btn-20-transparente:hover, .btn-10-transparente:hover, .btn-100-transparente, .btn-80-transparente, .btn-50-transparente, .btn-20-transparente, .btn-10-transparente, .btn-100-azul:hover, .btn-80-azul:hover, .btn-50-azul:hover, .btn-20-azul:hover, .btn-10-azul:hover, .btn-100-azul, .btn-80-azul, .btn-50-azul, .btn-20-azul, .btn-10-azul {
  border-radius: 10px;
}

.redondear-2 {
  border-radius: 20px;
}

.redondear-3 {
  border-radius: 30px;
}

.redondear-4 {
  border-radius: 40px;
}

.redondear-5 {
  border-radius: 50px;
}

.redondear-circulo {
  border-radius: 50%;
}

/*
    Terminologia:
    pd- todos los margenes
    pt- padding top
    pb- padding bottom
    pl- padding left
    pr -padding rigth
    px- padding top y bottom
    py - padding left y right
*/
.pd-5 {
  padding: 5px;
}

.pd-10, .btn-100-cinco:hover, .btn-80-cinco:hover, .btn-50-cinco:hover, .btn-20-cinco:hover, .btn-10-cinco:hover, .btn-100-cinco, .btn-80-cinco, .btn-50-cinco, .btn-20-cinco, .btn-10-cinco, .btn-100-cuatro:hover, .btn-80-cuatro:hover, .btn-50-cuatro:hover, .btn-20-cuatro:hover, .btn-10-cuatro:hover, .btn-100-cuatro, .btn-80-cuatro, .btn-50-cuatro, .btn-20-cuatro, .btn-10-cuatro, .btn-100-tres:hover, .btn-80-tres:hover, .btn-50-tres:hover, .btn-20-tres:hover, .btn-10-tres:hover, .btn-100-tres, .btn-80-tres, .btn-50-tres, .btn-20-tres, .btn-10-tres, .btn-100-transparente:hover, .btn-80-transparente:hover, .btn-50-transparente:hover, .btn-20-transparente:hover, .btn-10-transparente:hover, .btn-100-transparente, .btn-80-transparente, .btn-50-transparente, .btn-20-transparente, .btn-10-transparente, .btn-100-azul:hover, .btn-80-azul:hover, .btn-50-azul:hover, .btn-20-azul:hover, .btn-10-azul:hover, .btn-100-azul, .btn-80-azul, .btn-50-azul, .btn-20-azul, .btn-10-azul {
  padding: 10px;
}

.pd-15 {
  padding: 15px;
}

.pd-20 {
  padding: 20px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Colores de fondos para nuestros elementos*/
.redondear-1, .btn-100-cinco:hover, .btn-80-cinco:hover, .btn-50-cinco:hover, .btn-20-cinco:hover, .btn-10-cinco:hover, .btn-100-cinco, .btn-80-cinco, .btn-50-cinco, .btn-20-cinco, .btn-10-cinco, .btn-100-cuatro:hover, .btn-80-cuatro:hover, .btn-50-cuatro:hover, .btn-20-cuatro:hover, .btn-10-cuatro:hover, .btn-100-cuatro, .btn-80-cuatro, .btn-50-cuatro, .btn-20-cuatro, .btn-10-cuatro, .btn-100-tres:hover, .btn-80-tres:hover, .btn-50-tres:hover, .btn-20-tres:hover, .btn-10-tres:hover, .btn-100-tres, .btn-80-tres, .btn-50-tres, .btn-20-tres, .btn-10-tres, .btn-100-transparente:hover, .btn-80-transparente:hover, .btn-50-transparente:hover, .btn-20-transparente:hover, .btn-10-transparente:hover, .btn-100-transparente, .btn-80-transparente, .btn-50-transparente, .btn-20-transparente, .btn-10-transparente, .btn-100-azul:hover, .btn-80-azul:hover, .btn-50-azul:hover, .btn-20-azul:hover, .btn-10-azul:hover, .btn-100-azul, .btn-80-azul, .btn-50-azul, .btn-20-azul, .btn-10-azul {
  border-radius: 10px;
}

.redondear-2 {
  border-radius: 20px;
}

.redondear-3 {
  border-radius: 30px;
}

.redondear-4 {
  border-radius: 40px;
}

.redondear-5 {
  border-radius: 50px;
}

.redondear-circulo {
  border-radius: 50%;
}

/*
    Terminologia:
    pd- todos los margenes
    pt- padding top
    pb- padding bottom
    pl- padding left
    pr -padding rigth
    px- padding top y bottom
    py - padding left y right
*/
.pd-5 {
  padding: 5px;
}

.pd-10, .btn-100-cinco:hover, .btn-80-cinco:hover, .btn-50-cinco:hover, .btn-20-cinco:hover, .btn-10-cinco:hover, .btn-100-cinco, .btn-80-cinco, .btn-50-cinco, .btn-20-cinco, .btn-10-cinco, .btn-100-cuatro:hover, .btn-80-cuatro:hover, .btn-50-cuatro:hover, .btn-20-cuatro:hover, .btn-10-cuatro:hover, .btn-100-cuatro, .btn-80-cuatro, .btn-50-cuatro, .btn-20-cuatro, .btn-10-cuatro, .btn-100-tres:hover, .btn-80-tres:hover, .btn-50-tres:hover, .btn-20-tres:hover, .btn-10-tres:hover, .btn-100-tres, .btn-80-tres, .btn-50-tres, .btn-20-tres, .btn-10-tres, .btn-100-transparente:hover, .btn-80-transparente:hover, .btn-50-transparente:hover, .btn-20-transparente:hover, .btn-10-transparente:hover, .btn-100-transparente, .btn-80-transparente, .btn-50-transparente, .btn-20-transparente, .btn-10-transparente, .btn-100-azul:hover, .btn-80-azul:hover, .btn-50-azul:hover, .btn-20-azul:hover, .btn-10-azul:hover, .btn-100-azul, .btn-80-azul, .btn-50-azul, .btn-20-azul, .btn-10-azul {
  padding: 10px;
}

.pd-15 {
  padding: 15px;
}

.pd-20 {
  padding: 20px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*el numero en la clase es el tamaño del boton*/
/*Boton con diferente tamaño de color azul*/
.btn-10-azul {
  background-color: #3e31fa;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-azul {
  background-color: #3e31fa;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-azul {
  background-color: #3e31fa;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-azul {
  background-color: #3e31fa;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-azul {
  background-color: #3e31fa;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.btn-10-azul:hover {
  background-color: #0255a5;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-azul:hover {
  background-color: #0255a5;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-azul:hover {
  background-color: #0255a5;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-azul:hover {
  background-color: #0255a5;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-azul:hover {
  background-color: #0255a5;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* estilos para nuestro boton transparente */
.btn-10-transparente {
  background-color: transparent;
  color: #14142b;
  border: 2px solid #3e31fa;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-transparente {
  background-color: transparent;
  color: #14142b;
  border: 2px solid #3e31fa;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-transparente {
  background-color: transparent;
  color: #14142b;
  border: 2px solid #3e31fa;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-transparente {
  background-color: transparent;
  color: #14142b;
  border: 2px solid #3e31fa;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-transparente {
  background-color: transparent;
  color: #14142b;
  border: 2px solid #3e31fa;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.btn-10-transparente:hover {
  background-color: #0255a5;
  color: #fbfdff;
  border: 2px solid;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-transparente:hover {
  background-color: #0255a5;
  color: #fbfdff;
  border: 2px solid;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-transparente:hover {
  background-color: #0255a5;
  color: #fbfdff;
  border: 2px solid;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-transparente:hover {
  background-color: #0255a5;
  color: #fbfdff;
  border: 2px solid;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-transparente:hover {
  background-color: #0255a5;
  color: #fbfdff;
  border: 2px solid;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* Creando estilo para nuestro boton 3 */
.btn-10-tres {
  background-color: #a2d98c;
  color: #5e6a83;
  border: none;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-tres {
  background-color: #a2d98c;
  color: #5e6a83;
  border: none;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-tres {
  background-color: #a2d98c;
  color: #5e6a83;
  border: none;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-tres {
  background-color: #a2d98c;
  color: #5e6a83;
  border: none;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-tres {
  background-color: #a2d98c;
  color: #5e6a83;
  border: none;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.btn-10-tres:hover {
  background-color: #2AAC0A;
  color: #fff;
  border: none;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-tres:hover {
  background-color: #2AAC0A;
  color: #fff;
  border: none;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-tres:hover {
  background-color: #2AAC0A;
  color: #fff;
  border: none;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-tres:hover {
  background-color: #2AAC0A;
  color: #fff;
  border: none;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-tres:hover {
  background-color: #2AAC0A;
  color: #fff;
  border: none;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* Estilos para nuestro boton numero 4*/
.btn-10-cuatro {
  background-color: #ca024f;
  color: #fff;
  border: 2px solid #fff;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-cuatro {
  background-color: #ca024f;
  color: #fff;
  border: 2px solid #fff;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-cuatro {
  background-color: #ca024f;
  color: #fff;
  border: 2px solid #fff;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-cuatro {
  background-color: #ca024f;
  color: #fff;
  border: 2px solid #fff;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-cuatro {
  background-color: #ca024f;
  color: #fff;
  border: 2px solid #fff;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.btn-10-cuatro:hover {
  background-color: #f2be4e;
  color: #5e6a83;
  border: 2px solid #fff;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-cuatro:hover {
  background-color: #f2be4e;
  color: #5e6a83;
  border: 2px solid #fff;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-cuatro:hover {
  background-color: #f2be4e;
  color: #5e6a83;
  border: 2px solid #fff;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-cuatro:hover {
  background-color: #f2be4e;
  color: #5e6a83;
  border: 2px solid #fff;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-cuatro:hover {
  background-color: #f2be4e;
  color: #5e6a83;
  border: 2px solid #fff;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* Estilos para nuestro boton numero 5*/
.btn-10-cinco {
  background-color: #14142b;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-cinco {
  background-color: #14142b;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-cinco {
  background-color: #14142b;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-cinco {
  background-color: #14142b;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-cinco {
  background-color: #14142b;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.btn-10-cinco:hover {
  background-color: #0f2145;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-cinco:hover {
  background-color: #0f2145;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-cinco:hover {
  background-color: #0f2145;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-cinco:hover {
  background-color: #0f2145;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-cinco:hover {
  background-color: #0f2145;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

/*Colores de fondos para nuestros elementos*/
/*
    Terminologia:

    txt-c texto alineado centrado
    txt-s  texto alienado al inicio
    txt-e   texto alineado al final
    txt-j texto justificado

    txt-10 texto de tamaño de 10px
    txt-15 texto de tamaño de 15px
    txt-20 texto de tamaño de 20px
    txt-25 texto de tamaño de 25px
    txt-30 texto de tamaño de 30px
    txt-35 texto de tamaño de 35px
    txt-40 texto de tamaño de 40px
    txt-45 texto de tamaño de 45px
    txt-50 texto de tamaño de 50px

    txt-bold texto bold
    txt-italic texto en italica
    txt-d-none text decoration none
    txt-d-under text decoration underline 

    txt-c1 texto de color #0f2145
    txt-c2 texto de color #5e6a83
    text-c3 texto de color #ca024f
    txt-c4 texto de color #fbfdff
    txt-c5 txto de color #0255a5

    txt-tmr fonto family times new roman
    txt-arial arial
    txt-fgm Franklin Gothic Medium
    txt-cn Courier New

*/
.txt-c {
  text-align: center;
}

.txt-s {
  text-align: start;
}

.txt-e {
  text-align: end;
}

.txt-j {
  text-align: justify;
}

.txt-10 {
  font-size: 10px;
}

.txt-15 {
  font-size: 15px;
}

.txt-20 {
  font-size: 20px;
}

.txt-25 {
  font-size: 25px;
}

.txt-30 {
  font-size: 30px;
}

.txt-35 {
  font-size: 35px;
}

.txt-40 {
  font-size: 40px;
}

.txt-45 {
  font-size: 45px;
}

.txt-50 {
  font-size: 50px;
}

.txt-bold {
  font-weight: bold;
}

.txt-italic {
  font-style: italic;
}

.txt-d-none {
  text-decoration: none;
}

.txt-d-under {
  text-decoration: underline;
}

.txt-c1 {
  color: #0f2145;
}

.txt-c2 {
  color: #5e6a83;
}

.txt-c3 {
  color: #ca024f;
}

.txt-c4 {
  color: #fbfdff;
}

.txt-c5 {
  color: #0255a5;
}

.txt-tmr {
  font-family: "Times New Roman", Times, serif;
}

.txt-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.txt-fgm {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.txt-cn {
  font-family: "Courier New", Courier, monospace;
}

/*Colores de fondos para nuestros elementos*/
/*
    Terminologia: 
    el tamaño del border ira de 1px a 5px
    con los colores
    #3e31fa
    #ca024f
    #f2be4e
    #5e6a83
    #2AAC0A
    estilos borde:
        solid
        dashed


*/
/* ESTILOS borde de 1px a 5px estilo solid y color #3e31fa */
.borde-1-s-c1 {
  border: 1px solid #3e31fa;
}

.borde-2-s-c1 {
  border: 2px solid #3e31fa;
}

.borde-3-s-c1 {
  border: 3px solid #3e31fa;
}

.borde-4-s-c1 {
  border: 4px solid #3e31fa;
}

.borde-5-s-c1 {
  border: 5px solid #3e31fa;
}

/* ESTILOS borde de 1px a 5px estilo dashed  y color #3e31fa */
.borde-1-ds-c1 {
  border: 1px dashed #3e31fa;
}

.borde-2-ds-c1 {
  border: 2px dashed #3e31fa;
}

.borde-3-ds-c1 {
  border: 3px dashed #3e31fa;
}

.borde-4-ds-c1 {
  border: 4px dashed #3e31fa;
}

.borde-5-ds-c1 {
  border: 5px dashed #3e31fa;
}

/* ESTILOS borde de 1px a 5px estilo solid y color #ca024f */
.borde-1-s-c2 {
  border: 1px solid #ca024f;
}

.borde-2-s-c2 {
  border: 2px solid #ca024f;
}

.borde-3-s-c2 {
  border: 3px solid #ca024f;
}

.borde-4-s-c2 {
  border: 4px solid #ca024f;
}

.borde-5-s-c2 {
  border: 5px solid #ca024f;
}

/* ESTILOS borde de 1px a 5px estilo dashed  y color #ca024f */
.borde-1-ds-c2 {
  border: 1px dashed #ca024f;
}

.borde-2-ds-c2 {
  border: 2px dashed #ca024f;
}

.borde-3-ds-c2 {
  border: 3px dashed #ca024f;
}

.borde-4-ds-c2 {
  border: 4px dashed #ca024f;
}

.borde-5-ds-c2 {
  border: 5px dashed #ca024f;
}

/* ESTILOS borde de 1px a 5px estilo solid y color #f2be4e*/
.borde-1-s-c3 {
  border: 1px solid #f2be4e;
}

.borde-2-s-c3 {
  border: 2px solid #f2be4e;
}

.borde-3-s-c3 {
  border: 3px solid #f2be4e;
}

.borde-4-s-c3 {
  border: 4px solid #f2be4e;
}

.borde-5-s-c3 {
  border: 5px solid #f2be4e;
}

/* ESTILOS borde de 1px a 5px estilo dashed  y color #f2be4e */
.borde-1-ds-c3 {
  border: 1px dashed #f2be4e;
}

.borde-2-ds-c3 {
  border: 2px dashed #f2be4e;
}

.borde-3-ds-c3 {
  border: 3px dashed #f2be4e;
}

.borde-4-ds-c3 {
  border: 4px dashed #f2be4e;
}

.borde-5-ds-c3 {
  border: 5px dashed #f2be4e;
}

/* ESTILOS borde de 1px a 5px estilo solid y color #5e6a83*/
.borde-1-s-c4 {
  border: 1px solid #5e6a83;
}

.borde-2-s-c4 {
  border: 2px solid #5e6a83;
}

.borde-3-s-c4 {
  border: 3px solid #5e6a83;
}

.borde-4-s-c4 {
  border: 4px solid #5e6a83;
}

.borde-5-s-c4 {
  border: 5px solid #5e6a83;
}

/* ESTILOS borde de 1px a 5px estilo dashed  y color #5e6a83 */
.borde-1-ds-c4 {
  border: 1px dashed #5e6a83;
}

.borde-2-ds-c4 {
  border: 2px dashed #5e6a83;
}

.borde-3-ds-c4 {
  border: 3px dashed #5e6a83;
}

.borde-4-ds-c4 {
  border: 4px dashed #5e6a83;
}

.borde-5-ds-c4 {
  border: 5px dashed #5e6a83;
}

/* ESTILOS borde de 1px a 5px estilo solid y color #2AAC0A*/
.borde-1-s-c5 {
  border: 1px solid #2AAC0A;
}

.borde-2-s-c5 {
  border: 2px solid #2AAC0A;
}

.borde-3-s-c5 {
  border: 3px solid #2AAC0A;
}

.borde-4-s-c5 {
  border: 4px solid #2AAC0A;
}

.borde-5-s-c5 {
  border: 5px solid #2AAC0A;
}

/* ESTILOS borde de 1px a 5px estilo dashed  y color #2AAC0A */
.borde-1-ds-c5 {
  border: 1px dashed #2AAC0A;
}

.borde-2-ds-c5 {
  border: 2px dashed #2AAC0A;
}

.borde-3-ds-c5 {
  border: 3px dashed #2AAC0A;
}

.borde-4-ds-c5 {
  border: 4px dashed #2AAC0A;
}

.borde-5-ds-c5 {
  border: 5px dashed #2AAC0A;
}

body {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  height: auto;
  border: 1px solid black;
  padding: 20px;
}

form button {
  align-self: center;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  align-self: flex-start;
}

input {
  width: 100%;
}/*# sourceMappingURL=form.css.map */