body {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border: 1px solid black;
    padding: 20px;
}

.row {
    display: flex;
    width: auto;
    gap: 10px;
    height: auto;
    align-items: center;
    margin-top: 10px;
}

label {
    margin-right: 10px;
    border-radius: 10px;
}
