@charset "UTF-8";
/*Colores de fondos para nuestros elementos*/
/*
    Terminologia: 
    el tamaño del border ira de 1px a 5px
    con los colores
    #3e31fa
    #ca024f
    #f2be4e
    #5e6a83
    #2AAC0A
    estilos borde:
        solid
        dashed


*/
/* ESTILOS borde de 1px a 5px estilo solid y color #3e31fa */
.borde-1-s-c1 {
  border: 1px solid #3e31fa;
}

.borde-2-s-c1 {
  border: 2px solid #3e31fa;
}

.borde-3-s-c1 {
  border: 3px solid #3e31fa;
}

.borde-4-s-c1 {
  border: 4px solid #3e31fa;
}

.borde-5-s-c1 {
  border: 5px solid #3e31fa;
}

/* ESTILOS borde de 1px a 5px estilo dashed  y color #3e31fa */
.borde-1-ds-c1 {
  border: 1px dashed #3e31fa;
}

.borde-2-ds-c1 {
  border: 2px dashed #3e31fa;
}

.borde-3-ds-c1 {
  border: 3px dashed #3e31fa;
}

.borde-4-ds-c1 {
  border: 4px dashed #3e31fa;
}

.borde-5-ds-c1 {
  border: 5px dashed #3e31fa;
}

/* ESTILOS borde de 1px a 5px estilo solid y color #ca024f */
.borde-1-s-c2 {
  border: 1px solid #ca024f;
}

.borde-2-s-c2 {
  border: 2px solid #ca024f;
}

.borde-3-s-c2 {
  border: 3px solid #ca024f;
}

.borde-4-s-c2 {
  border: 4px solid #ca024f;
}

.borde-5-s-c2 {
  border: 5px solid #ca024f;
}

/* ESTILOS borde de 1px a 5px estilo dashed  y color #ca024f */
.borde-1-ds-c2 {
  border: 1px dashed #ca024f;
}

.borde-2-ds-c2 {
  border: 2px dashed #ca024f;
}

.borde-3-ds-c2 {
  border: 3px dashed #ca024f;
}

.borde-4-ds-c2 {
  border: 4px dashed #ca024f;
}

.borde-5-ds-c2 {
  border: 5px dashed #ca024f;
}

/* ESTILOS borde de 1px a 5px estilo solid y color #f2be4e*/
.borde-1-s-c3 {
  border: 1px solid #f2be4e;
}

.borde-2-s-c3 {
  border: 2px solid #f2be4e;
}

.borde-3-s-c3 {
  border: 3px solid #f2be4e;
}

.borde-4-s-c3 {
  border: 4px solid #f2be4e;
}

.borde-5-s-c3 {
  border: 5px solid #f2be4e;
}

/* ESTILOS borde de 1px a 5px estilo dashed  y color #f2be4e */
.borde-1-ds-c3 {
  border: 1px dashed #f2be4e;
}

.borde-2-ds-c3 {
  border: 2px dashed #f2be4e;
}

.borde-3-ds-c3 {
  border: 3px dashed #f2be4e;
}

.borde-4-ds-c3 {
  border: 4px dashed #f2be4e;
}

.borde-5-ds-c3 {
  border: 5px dashed #f2be4e;
}

/* ESTILOS borde de 1px a 5px estilo solid y color #5e6a83*/
.borde-1-s-c4 {
  border: 1px solid #5e6a83;
}

.borde-2-s-c4 {
  border: 2px solid #5e6a83;
}

.borde-3-s-c4 {
  border: 3px solid #5e6a83;
}

.borde-4-s-c4 {
  border: 4px solid #5e6a83;
}

.borde-5-s-c4 {
  border: 5px solid #5e6a83;
}

/* ESTILOS borde de 1px a 5px estilo dashed  y color #5e6a83 */
.borde-1-ds-c4 {
  border: 1px dashed #5e6a83;
}

.borde-2-ds-c4 {
  border: 2px dashed #5e6a83;
}

.borde-3-ds-c4 {
  border: 3px dashed #5e6a83;
}

.borde-4-ds-c4 {
  border: 4px dashed #5e6a83;
}

.borde-5-ds-c4 {
  border: 5px dashed #5e6a83;
}

/* ESTILOS borde de 1px a 5px estilo solid y color #2AAC0A*/
.borde-1-s-c5 {
  border: 1px solid #2AAC0A;
}

.borde-2-s-c5 {
  border: 2px solid #2AAC0A;
}

.borde-3-s-c5 {
  border: 3px solid #2AAC0A;
}

.borde-4-s-c5 {
  border: 4px solid #2AAC0A;
}

.borde-5-s-c5 {
  border: 5px solid #2AAC0A;
}

/* ESTILOS borde de 1px a 5px estilo dashed  y color #2AAC0A */
.borde-1-ds-c5 {
  border: 1px dashed #2AAC0A;
}

.borde-2-ds-c5 {
  border: 2px dashed #2AAC0A;
}

.borde-3-ds-c5 {
  border: 3px dashed #2AAC0A;
}

.borde-4-ds-c5 {
  border: 4px dashed #2AAC0A;
}

.borde-5-ds-c5 {
  border: 5px dashed #2AAC0A;
}

/*Colores de fondos para nuestros elementos*/
.redondear-1, .btn-100-cinco:hover, .btn-80-cinco:hover, .btn-50-cinco:hover, .btn-20-cinco:hover, .btn-10-cinco:hover, .btn-100-cinco, .btn-80-cinco, .btn-50-cinco, .btn-20-cinco, .btn-10-cinco, .btn-100-cuatro:hover, .btn-80-cuatro:hover, .btn-50-cuatro:hover, .btn-20-cuatro:hover, .btn-10-cuatro:hover, .btn-100-cuatro, .btn-80-cuatro, .btn-50-cuatro, .btn-20-cuatro, .btn-10-cuatro, .btn-100-tres:hover, .btn-80-tres:hover, .btn-50-tres:hover, .btn-20-tres:hover, .btn-10-tres:hover, .btn-100-tres, .btn-80-tres, .btn-50-tres, .btn-20-tres, .btn-10-tres, .btn-100-transparente:hover, .btn-80-transparente:hover, .btn-50-transparente:hover, .btn-20-transparente:hover, .btn-10-transparente:hover, .btn-100-transparente, .btn-80-transparente, .btn-50-transparente, .btn-20-transparente, .btn-10-transparente, .btn-100-azul:hover, .btn-80-azul:hover, .btn-50-azul:hover, .btn-20-azul:hover, .btn-10-azul:hover, .btn-100-azul, .btn-80-azul, .btn-50-azul, .btn-20-azul, .btn-10-azul {
  border-radius: 10px;
}

.redondear-2 {
  border-radius: 20px;
}

.redondear-3 {
  border-radius: 30px;
}

.redondear-4 {
  border-radius: 40px;
}

.redondear-5 {
  border-radius: 50px;
}

.redondear-circulo {
  border-radius: 50%;
}

/*
    Terminologia:
    pd- todos los margenes
    pt- padding top
    pb- padding bottom
    pl- padding left
    pr -padding rigth
    px- padding top y bottom
    py - padding left y right
*/
.pd-5 {
  padding: 5px;
}

.pd-10, .btn-100-cinco:hover, .btn-80-cinco:hover, .btn-50-cinco:hover, .btn-20-cinco:hover, .btn-10-cinco:hover, .btn-100-cinco, .btn-80-cinco, .btn-50-cinco, .btn-20-cinco, .btn-10-cinco, .btn-100-cuatro:hover, .btn-80-cuatro:hover, .btn-50-cuatro:hover, .btn-20-cuatro:hover, .btn-10-cuatro:hover, .btn-100-cuatro, .btn-80-cuatro, .btn-50-cuatro, .btn-20-cuatro, .btn-10-cuatro, .btn-100-tres:hover, .btn-80-tres:hover, .btn-50-tres:hover, .btn-20-tres:hover, .btn-10-tres:hover, .btn-100-tres, .btn-80-tres, .btn-50-tres, .btn-20-tres, .btn-10-tres, .btn-100-transparente:hover, .btn-80-transparente:hover, .btn-50-transparente:hover, .btn-20-transparente:hover, .btn-10-transparente:hover, .btn-100-transparente, .btn-80-transparente, .btn-50-transparente, .btn-20-transparente, .btn-10-transparente, .btn-100-azul:hover, .btn-80-azul:hover, .btn-50-azul:hover, .btn-20-azul:hover, .btn-10-azul:hover, .btn-100-azul, .btn-80-azul, .btn-50-azul, .btn-20-azul, .btn-10-azul {
  padding: 10px;
}

.pd-15 {
  padding: 15px;
}

.pd-20 {
  padding: 20px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*el numero en la clase es el tamaño del boton*/
/*Boton con diferente tamaño de color azul*/
.btn-10-azul {
  background-color: #3e31fa;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-azul {
  background-color: #3e31fa;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-azul {
  background-color: #3e31fa;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-azul {
  background-color: #3e31fa;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-azul {
  background-color: #3e31fa;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.btn-10-azul:hover {
  background-color: #0255a5;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-azul:hover {
  background-color: #0255a5;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-azul:hover {
  background-color: #0255a5;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-azul:hover {
  background-color: #0255a5;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-azul:hover {
  background-color: #0255a5;
  color: #fff;
  border: 2px solid;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* estilos para nuestro boton transparente */
.btn-10-transparente {
  background-color: transparent;
  color: #14142b;
  border: 2px solid #3e31fa;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-transparente {
  background-color: transparent;
  color: #14142b;
  border: 2px solid #3e31fa;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-transparente {
  background-color: transparent;
  color: #14142b;
  border: 2px solid #3e31fa;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-transparente {
  background-color: transparent;
  color: #14142b;
  border: 2px solid #3e31fa;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-transparente {
  background-color: transparent;
  color: #14142b;
  border: 2px solid #3e31fa;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.btn-10-transparente:hover {
  background-color: #0255a5;
  color: #fbfdff;
  border: 2px solid;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-transparente:hover {
  background-color: #0255a5;
  color: #fbfdff;
  border: 2px solid;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-transparente:hover {
  background-color: #0255a5;
  color: #fbfdff;
  border: 2px solid;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-transparente:hover {
  background-color: #0255a5;
  color: #fbfdff;
  border: 2px solid;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-transparente:hover {
  background-color: #0255a5;
  color: #fbfdff;
  border: 2px solid;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* Creando estilo para nuestro boton 3 */
.btn-10-tres {
  background-color: #a2d98c;
  color: #5e6a83;
  border: none;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-tres {
  background-color: #a2d98c;
  color: #5e6a83;
  border: none;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-tres {
  background-color: #a2d98c;
  color: #5e6a83;
  border: none;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-tres {
  background-color: #a2d98c;
  color: #5e6a83;
  border: none;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-tres {
  background-color: #a2d98c;
  color: #5e6a83;
  border: none;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.btn-10-tres:hover {
  background-color: #2AAC0A;
  color: #fff;
  border: none;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-tres:hover {
  background-color: #2AAC0A;
  color: #fff;
  border: none;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-tres:hover {
  background-color: #2AAC0A;
  color: #fff;
  border: none;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-tres:hover {
  background-color: #2AAC0A;
  color: #fff;
  border: none;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-tres:hover {
  background-color: #2AAC0A;
  color: #fff;
  border: none;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* Estilos para nuestro boton numero 4*/
.btn-10-cuatro {
  background-color: #ca024f;
  color: #fff;
  border: 2px solid #fff;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-cuatro {
  background-color: #ca024f;
  color: #fff;
  border: 2px solid #fff;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-cuatro {
  background-color: #ca024f;
  color: #fff;
  border: 2px solid #fff;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-cuatro {
  background-color: #ca024f;
  color: #fff;
  border: 2px solid #fff;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-cuatro {
  background-color: #ca024f;
  color: #fff;
  border: 2px solid #fff;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.btn-10-cuatro:hover {
  background-color: #f2be4e;
  color: #5e6a83;
  border: 2px solid #fff;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-cuatro:hover {
  background-color: #f2be4e;
  color: #5e6a83;
  border: 2px solid #fff;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-cuatro:hover {
  background-color: #f2be4e;
  color: #5e6a83;
  border: 2px solid #fff;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-cuatro:hover {
  background-color: #f2be4e;
  color: #5e6a83;
  border: 2px solid #fff;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-cuatro:hover {
  background-color: #f2be4e;
  color: #5e6a83;
  border: 2px solid #fff;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* Estilos para nuestro boton numero 5*/
.btn-10-cinco {
  background-color: #14142b;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-cinco {
  background-color: #14142b;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-cinco {
  background-color: #14142b;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-cinco {
  background-color: #14142b;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-cinco {
  background-color: #14142b;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.btn-10-cinco:hover {
  background-color: #0f2145;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
}

.btn-20-cinco:hover {
  background-color: #0f2145;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.btn-50-cinco:hover {
  background-color: #0f2145;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn-80-cinco:hover {
  background-color: #0f2145;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
}

.btn-100-cinco:hover {
  background-color: #0f2145;
  color: #fbfdff;
  border: 2px solid #fff;
  height: auto;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

/*Colores de fondos para nuestros elementos*/
.flex {
  display: flex;
}

.flex-d-row {
  flex-direction: row;
}

.flex-d-rowr {
  flex-direction: row-reverse;
}

.flex-d-col {
  flex-direction: column;
}

.flex-d-colr {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrapr {
  flex-wrap: wrap-reverse;
}

.flex-nwrap {
  flex-wrap: nowrap;
}

.flex-basis-1 {
  flex-basis: 10%;
}

.flex-basis-2 {
  flex-basis: 20%;
}

.flex-basis-3 {
  flex-basis: 30%;
}

.flex-basis-4 {
  flex-basis: 40%;
}

.flex-basis-5 {
  flex-basis: 50%;
}

.flex-basis-6 {
  flex-basis: 60%;
}

.flex-basis-7 {
  flex-basis: 70%;
}

.flex-basis-8 {
  flex-basis: 80%;
}

.flex-basis-9 {
  flex-basis: 0%;
}

.flex-basis-10 {
  flex-basis: 100%;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-3 {
  flex-grow: 3;
}

.flex-grow-4 {
  flex-grow: 4;
}

.flex-grow-5 {
  flex-grow: 5;
}

.flex-grow-6 {
  flex-grow: 6;
}

.flex-grow-7 {
  flex-grow: 7;
}

.flex-grow-8 {
  flex-grow: 8;
}

.flex-grow-9 {
  flex-grow: 9;
}

.flex-grow-10 {
  flex-grow: 10;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-shrink-2 {
  flex-shrink: 2;
}

.flex-shrink-3 {
  flex-shrink: 3;
}

.flex-shrink-4 {
  flex-shrink: 4;
}

.flex-shrink-5 {
  flex-shrink: 5;
}

.flex-shrink-6 {
  flex-shrink: 6;
}

.flex-shrink-7 {
  flex-shrink: 7;
}

.flex-shrink-8 {
  flex-shrink: 8;
}

.flex-shrink-9 {
  flex-shrink: 9;
}

.flex-shrink-10 {
  flex-shrink: 10;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.align-content-start {
  align-content: start;
}

.align-content-end {
  align-content: end;
}

.align-content-center {
  align-content: center;
}

.align-content-evenly {
  align-content: space-evenly;
}

.align-content-around {
  align-content: space-around;
}

.align-content-between {
  align-content: space-between;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}

.align-self-start {
  align-self: start;
}

.align-self-end {
  align-self: end;
}

.align-self-center {
  align-self: center;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-baseline {
  align-self: baseline;
}

.gap-0 {
  gap: 0;
}

.gap-2 {
  gap: 2px;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

/*Estilos de flex que se activan hasta resoluciones de 500px*/
@media (max-width: 500px) {
  .sm-flex {
    display: flex;
  }
  .sm-flex-d-row {
    flex-direction: row;
  }
  .sm-flex-d-rowr {
    flex-direction: row-reverse;
  }
  .sm-flex-d-col {
    flex-direction: column;
  }
  .sm-flex-d-colr {
    flex-direction: column-reverse;
  }
  .sm-flex-wrap {
    flex-wrap: wrap;
  }
  .sm-flex-wrapr {
    flex-wrap: wrap-reverse;
  }
  .sm-flex-nwrap {
    flex-wrap: nowrap;
  }
  .sm-flex-basis-1 {
    flex-basis: 10%;
  }
  .sm-flex-basis-2 {
    flex-basis: 20%;
  }
  .sm-flex-basis-3 {
    flex-basis: 30%;
  }
  .sm-flex-basis-4 {
    flex-basis: 40%;
  }
  .sm-flex-basis-5 {
    flex-basis: 50%;
  }
  .sm-flex-basis-6 {
    flex-basis: 60%;
  }
  .sm-flex-basis-7 {
    flex-basis: 70%;
  }
  .sm-flex-basis-8 {
    flex-basis: 80%;
  }
  .sm-flex-basis-9 {
    flex-basis: 0%;
  }
  .sm-flex-basis-10 {
    flex-basis: 100%;
  }
  .sm-flex-grow-0 {
    flex-grow: 0;
  }
  .sm-flex-grow-1 {
    flex-grow: 1;
  }
  .sm-flex-grow-2 {
    flex-grow: 2;
  }
  .sm-flex-grow-3 {
    flex-grow: 3;
  }
  .sm-flex-grow-4 {
    flex-grow: 4;
  }
  .sm-flex-grow-5 {
    flex-grow: 5;
  }
  .sm-flex-grow-6 {
    flex-grow: 6;
  }
  .sm-flex-grow-7 {
    flex-grow: 7;
  }
  .sm-flex-grow-8 {
    flex-grow: 8;
  }
  .sm-flex-grow-9 {
    flex-grow: 9;
  }
  .sm-flex-grow-10 {
    flex-grow: 10;
  }
  .sm-flex-shrink-0 {
    flex-shrink: 0;
  }
  .sm-flex-shrink-1 {
    flex-shrink: 1;
  }
  .sm-flex-shrink-2 {
    flex-shrink: 2;
  }
  .sm-flex-shrink-3 {
    flex-shrink: 3;
  }
  .sm-flex-shrink-4 {
    flex-shrink: 4;
  }
  .sm-flex-shrink-5 {
    flex-shrink: 5;
  }
  .sm-flex-shrink-6 {
    flex-shrink: 6;
  }
  .sm-flex-shrink-7 {
    flex-shrink: 7;
  }
  .sm-flex-shrink-8 {
    flex-shrink: 8;
  }
  .sm-flex-shrink-9 {
    flex-shrink: 9;
  }
  .sm-flex-shrink-10 {
    flex-shrink: 10;
  }
  .sm-justify-content-start {
    justify-content: start;
  }
  .sm-justify-content-end {
    justify-content: end;
  }
  .sm-justify-content-center {
    justify-content: center;
  }
  .sm-justify-content-evenly {
    justify-content: space-evenly;
  }
  .sm-justify-content-around {
    justify-content: space-around;
  }
  .sm-justify-content-between {
    justify-content: space-between;
  }
  .sm-align-content-start {
    align-content: start;
  }
  .sm-align-content-end {
    align-content: end;
  }
  .sm-align-content-center {
    align-content: center;
  }
  .sm-align-content-evenly {
    align-content: space-evenly;
  }
  .sm-align-content-around {
    align-content: space-around;
  }
  .sm-align-content-between {
    align-content: space-between;
  }
  .sm-align-items-start {
    align-items: start;
  }
  .sm-align-items-end {
    align-items: end;
  }
  .sm-align-items-center {
    align-items: center;
  }
  .sm-align-items-stretch {
    align-items: stretch;
  }
  .sm-align-items-baseline {
    align-items: baseline;
  }
  .sm-align-self-start {
    align-self: start;
  }
  .sm-align-self-end {
    align-self: end;
  }
  .sm-align-self-center {
    align-self: center;
  }
  .sm-align-self-stretch {
    align-self: stretch;
  }
  .sm-align-self-baseline {
    align-self: baseline;
  }
  .sm-gap-0 {
    gap: 0;
  }
  .sm-gap-2 {
    gap: 2px;
  }
  .sm-gap-5 {
    gap: 5px;
  }
  .sm-gap-10 {
    gap: 10px;
  }
  .sm-gap-15 {
    gap: 15px;
  }
  .sm-gap-20 {
    gap: 20px;
  }
}
/*Estilos de flex que se activan desde 500px hasta resoluciones de 1023px*/
@media (min-width: 501px) and (max-width: 1023px) {
  .md-flex {
    display: flex;
  }
  .md-flex-d-row {
    flex-direction: row;
  }
  .md-flex-d-rowr {
    flex-direction: row-reverse;
  }
  .md-flex-d-col {
    flex-direction: column;
  }
  .md-flex-d-colr {
    flex-direction: column-reverse;
  }
  .md-flex-wrap {
    flex-wrap: wrap;
  }
  .md-flex-wrapr {
    flex-wrap: wrap-reverse;
  }
  .md-flex-nwrap {
    flex-wrap: nowrap;
  }
  .md-flex-basis-1 {
    flex-basis: 10%;
  }
  .md-flex-basis-2 {
    flex-basis: 20%;
  }
  .md-flex-basis-3 {
    flex-basis: 30%;
  }
  .md-flex-basis-4 {
    flex-basis: 40%;
  }
  .md-flex-basis-5 {
    flex-basis: 50%;
  }
  .md-flex-basis-6 {
    flex-basis: 60%;
  }
  .md-flex-basis-7 {
    flex-basis: 70%;
  }
  .md-flex-basis-8 {
    flex-basis: 80%;
  }
  .md-flex-basis-9 {
    flex-basis: 0%;
  }
  .md-flex-basis-10 {
    flex-basis: 100%;
  }
  .md-flex-grow-0 {
    flex-grow: 0;
  }
  .md-flex-grow-1 {
    flex-grow: 1;
  }
  .md-flex-grow-2 {
    flex-grow: 2;
  }
  .md-flex-grow-3 {
    flex-grow: 3;
  }
  .md-flex-grow-4 {
    flex-grow: 4;
  }
  .md-flex-grow-5 {
    flex-grow: 5;
  }
  .md-flex-grow-6 {
    flex-grow: 6;
  }
  .md-flex-grow-7 {
    flex-grow: 7;
  }
  .md-flex-grow-8 {
    flex-grow: 8;
  }
  .md-flex-grow-9 {
    flex-grow: 9;
  }
  .md-flex-grow-10 {
    flex-grow: 10;
  }
  .md-flex-shrink-0 {
    flex-shrink: 0;
  }
  .md-flex-shrink-1 {
    flex-shrink: 1;
  }
  .md-flex-shrink-2 {
    flex-shrink: 2;
  }
  .md-flex-shrink-3 {
    flex-shrink: 3;
  }
  .md-flex-shrink-4 {
    flex-shrink: 4;
  }
  .md-flex-shrink-5 {
    flex-shrink: 5;
  }
  .md-flex-shrink-6 {
    flex-shrink: 6;
  }
  .md-flex-shrink-7 {
    flex-shrink: 7;
  }
  .md-flex-shrink-8 {
    flex-shrink: 8;
  }
  .md-flex-shrink-9 {
    flex-shrink: 9;
  }
  .md-flex-shrink-10 {
    flex-shrink: 10;
  }
  .md-justify-content-start {
    justify-content: start;
  }
  .md-justify-content-end {
    justify-content: end;
  }
  .md-justify-content-center {
    justify-content: center;
  }
  .md-justify-content-evenly {
    justify-content: space-evenly;
  }
  .md-justify-content-around {
    justify-content: space-around;
  }
  .md-justify-content-between {
    justify-content: space-between;
  }
  .md-align-content-start {
    align-content: start;
  }
  .md-align-content-end {
    align-content: end;
  }
  .md-align-content-center {
    align-content: center;
  }
  .md-align-content-evenly {
    align-content: space-evenly;
  }
  .md-align-content-around {
    align-content: space-around;
  }
  .md-align-content-between {
    align-content: space-between;
  }
  .md-align-items-start {
    align-items: start;
  }
  .md-align-items-end {
    align-items: end;
  }
  .md-align-items-center {
    align-items: center;
  }
  .md-align-items-stretch {
    align-items: stretch;
  }
  .md-align-items-baseline {
    align-items: baseline;
  }
  .md-align-self-start {
    align-self: start;
  }
  .md-align-self-end {
    align-self: end;
  }
  .md-align-self-center {
    align-self: center;
  }
  .md-align-self-stretch {
    align-self: stretch;
  }
  .md-align-self-baseline {
    align-self: baseline;
  }
  .md-gap-0 {
    gap: 0;
  }
  .md-gap-2 {
    gap: 2px;
  }
  .md-gap-5 {
    gap: 5px;
  }
  .md-gap-10 {
    gap: 10px;
  }
  .md-gap-15 {
    gap: 15px;
  }
  .md-gap-20 {
    gap: 20px;
  }
}
/*Estilos de flex que se activan hasta resoluciones mayores a de 1024px*/
@media (min-width: 1024px) {
  .bg-flex {
    display: flex;
  }
  .bg-flex-d-row {
    flex-direction: row;
  }
  .bg-flex-d-rowr {
    flex-direction: row-reverse;
  }
  .bg-flex-d-col {
    flex-direction: column;
  }
  .bg-flex-d-colr {
    flex-direction: column-reverse;
  }
  .bg-flex-wrap {
    flex-wrap: wrap;
  }
  .bg-flex-wrapr {
    flex-wrap: wrap-reverse;
  }
  .bg-flex-nwrap {
    flex-wrap: nowrap;
  }
  .bg-flex-basis-1 {
    flex-basis: 10%;
  }
  .bg-flex-basis-2 {
    flex-basis: 20%;
  }
  .bg-flex-basis-3 {
    flex-basis: 30%;
  }
  .bg-flex-basis-4 {
    flex-basis: 40%;
  }
  .bg-flex-basis-5 {
    flex-basis: 50%;
  }
  .bg-flex-basis-6 {
    flex-basis: 60%;
  }
  .bg-flex-basis-7 {
    flex-basis: 70%;
  }
  .bg-flex-basis-8 {
    flex-basis: 80%;
  }
  .bg-flex-basis-9 {
    flex-basis: 0%;
  }
  .bg-flex-basis-10 {
    flex-basis: 100%;
  }
  .bg-flex-grow-0 {
    flex-grow: 0;
  }
  .bg-flex-grow-1 {
    flex-grow: 1;
  }
  .bg-flex-grow-2 {
    flex-grow: 2;
  }
  .bg-flex-grow-3 {
    flex-grow: 3;
  }
  .bg-flex-grow-4 {
    flex-grow: 4;
  }
  .bg-flex-grow-5 {
    flex-grow: 5;
  }
  .bg-flex-grow-6 {
    flex-grow: 6;
  }
  .bg-flex-grow-7 {
    flex-grow: 7;
  }
  .bg-flex-grow-8 {
    flex-grow: 8;
  }
  .bg-flex-grow-9 {
    flex-grow: 9;
  }
  .bg-flex-grow-10 {
    flex-grow: 10;
  }
  .bg-flex-shrink-0 {
    flex-shrink: 0;
  }
  .bg-flex-shrink-1 {
    flex-shrink: 1;
  }
  .bg-flex-shrink-2 {
    flex-shrink: 2;
  }
  .bg-flex-shrink-3 {
    flex-shrink: 3;
  }
  .bg-flex-shrink-4 {
    flex-shrink: 4;
  }
  .bg-flex-shrink-5 {
    flex-shrink: 5;
  }
  .bg-flex-shrink-6 {
    flex-shrink: 6;
  }
  .bg-flex-shrink-7 {
    flex-shrink: 7;
  }
  .bg-flex-shrink-8 {
    flex-shrink: 8;
  }
  .bg-flex-shrink-9 {
    flex-shrink: 9;
  }
  .bg-flex-shrink-10 {
    flex-shrink: 10;
  }
  .bg-justify-content-start {
    justify-content: start;
  }
  .bg-justify-content-end {
    justify-content: end;
  }
  .bg-justify-content-center {
    justify-content: center;
  }
  .bg-justify-content-evenly {
    justify-content: space-evenly;
  }
  .bg-justify-content-around {
    justify-content: space-around;
  }
  .bg-justify-content-between {
    justify-content: space-between;
  }
  .bg-align-content-start {
    align-content: start;
  }
  .bg-align-content-end {
    align-content: end;
  }
  .bg-align-content-center {
    align-content: center;
  }
  .bg-align-content-evenly {
    align-content: space-evenly;
  }
  .bg-align-content-around {
    align-content: space-around;
  }
  .bg-align-content-between {
    align-content: space-between;
  }
  .bg-align-items-start {
    align-items: start;
  }
  .bg-align-items-end {
    align-items: end;
  }
  .bg-align-items-center {
    align-items: center;
  }
  .bg-align-items-stretch {
    align-items: stretch;
  }
  .bg-align-items-baseline {
    align-items: baseline;
  }
  .bg-align-self-start {
    align-self: start;
  }
  .bg-align-self-end {
    align-self: end;
  }
  .bg-align-self-center {
    align-self: center;
  }
  .bg-align-self-stretch {
    align-self: stretch;
  }
  .bg-align-self-baseline {
    align-self: baseline;
  }
  .bg-gap-0 {
    gap: 0;
  }
  .bg-gap-2 {
    gap: 2px;
  }
  .bg-gap-5 {
    gap: 5px;
  }
  .bg-gap-10 {
    gap: 10px;
  }
  .bg-gap-15 {
    gap: 15px;
  }
  .bg-gap-20 {
    gap: 20px;
  }
}
/*
    Terminologia: 
    mg- todos los margenes
    mg-auto margin auto
    mt- margin top
    mb- margin bottom
    ml- margin left
    mr -margin rigth
    my- margin top y bottom
    mx - margin left y right
*/
.mg-auto {
  margin: auto;
}

.mg-5 {
  margin: 5px;
}

.mg-10 {
  margin: 10px;
}

.mg-15 {
  margin: 15px;
}

.mg-20 {
  margin: 20px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Esta clase nos servira para ocultar algun elemento que nosotros queramos*/
.OcultarElemento {
  display: none;
}

/*
    Terminologia:
    pd- todos los margenes
    pt- padding top
    pb- padding bottom
    pl- padding left
    pr -padding rigth
    px- padding top y bottom
    py - padding left y right
*/
.pd-5 {
  padding: 5px;
}

.pd-10, .btn-10-azul, .btn-20-azul, .btn-50-azul, .btn-80-azul, .btn-100-azul, .btn-10-azul:hover, .btn-20-azul:hover, .btn-50-azul:hover, .btn-80-azul:hover, .btn-100-azul:hover, .btn-10-transparente, .btn-20-transparente, .btn-50-transparente, .btn-80-transparente, .btn-100-transparente, .btn-10-transparente:hover, .btn-20-transparente:hover, .btn-50-transparente:hover, .btn-80-transparente:hover, .btn-100-transparente:hover, .btn-10-tres, .btn-20-tres, .btn-50-tres, .btn-80-tres, .btn-100-tres, .btn-10-tres:hover, .btn-20-tres:hover, .btn-50-tres:hover, .btn-80-tres:hover, .btn-100-tres:hover, .btn-10-cuatro, .btn-20-cuatro, .btn-50-cuatro, .btn-80-cuatro, .btn-100-cuatro, .btn-10-cuatro:hover, .btn-20-cuatro:hover, .btn-50-cuatro:hover, .btn-80-cuatro:hover, .btn-100-cuatro:hover, .btn-10-cinco, .btn-20-cinco, .btn-50-cinco, .btn-80-cinco, .btn-100-cinco, .btn-10-cinco:hover, .btn-20-cinco:hover, .btn-50-cinco:hover, .btn-80-cinco:hover, .btn-100-cinco:hover {
  padding: 10px;
}

.pd-15 {
  padding: 15px;
}

.pd-20 {
  padding: 20px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Colores de fondos para nuestros elementos*/
/*
    Terminologia:

    txt-c texto alineado centrado
    txt-s  texto alienado al inicio
    txt-e   texto alineado al final
    txt-j texto justificado

    txt-10 texto de tamaño de 10px
    txt-15 texto de tamaño de 15px
    txt-20 texto de tamaño de 20px
    txt-25 texto de tamaño de 25px
    txt-30 texto de tamaño de 30px
    txt-35 texto de tamaño de 35px
    txt-40 texto de tamaño de 40px
    txt-45 texto de tamaño de 45px
    txt-50 texto de tamaño de 50px

    txt-bold texto bold
    txt-italic texto en italica
    txt-d-none text decoration none
    txt-d-under text decoration underline 

    txt-c1 texto de color #0f2145
    txt-c2 texto de color #5e6a83
    text-c3 texto de color #ca024f
    txt-c4 texto de color #fbfdff
    txt-c5 txto de color #0255a5

    txt-tmr fonto family times new roman
    txt-arial arial
    txt-fgm Franklin Gothic Medium
    txt-cn Courier New

*/
.txt-c {
  text-align: center;
}

.txt-s {
  text-align: start;
}

.txt-e {
  text-align: end;
}

.txt-j {
  text-align: justify;
}

.txt-10 {
  font-size: 10px;
}

.txt-15 {
  font-size: 15px;
}

.txt-20 {
  font-size: 20px;
}

.txt-25 {
  font-size: 25px;
}

.txt-30 {
  font-size: 30px;
}

.txt-35 {
  font-size: 35px;
}

.txt-40 {
  font-size: 40px;
}

.txt-45 {
  font-size: 45px;
}

.txt-50 {
  font-size: 50px;
}

.txt-bold {
  font-weight: bold;
}

.txt-italic {
  font-style: italic;
}

.txt-d-none {
  text-decoration: none;
}

.txt-d-under {
  text-decoration: underline;
}

.txt-c1 {
  color: #0f2145;
}

.txt-c2 {
  color: #5e6a83;
}

.txt-c3 {
  color: #ca024f;
}

.txt-c4 {
  color: #fbfdff;
}

.txt-c5 {
  color: #0255a5;
}

.txt-tmr {
  font-family: "Times New Roman", Times, serif;
}

.txt-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.txt-fgm {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.txt-cn {
  font-family: "Courier New", Courier, monospace;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.right-0 {
  right: 0%;
}

.right-1 {
  right: 10%;
}

.right-2 {
  right: 20%;
}

.right-3 {
  right: 30%;
}

.right-4 {
  right: 40%;
}

.right-5 {
  right: 50%;
}

.right-6 {
  right: 60%;
}

.right-7 {
  right: 70%;
}

.right-8 {
  right: 80%;
}

.right-9 {
  right: 90%;
}

.right-10 {
  right: 100%;
}

.top-0 {
  top: 0%;
}

.top-1 {
  top: 10%;
}

top-2 {
  top: 20%;
}

.top-3 {
  top: 30%;
}

.top-4 {
  top: 40%;
}

.top-5 {
  top: 50%;
}

.top-6 {
  top: 60%;
}

.top-7 {
  top: 70%;
}

.top-8 {
  top: 80%;
}

.top-9 {
  top: 90%;
}

.top-10 {
  top: 100%;
}

.left-0 {
  left: 0%;
}

.left-1 {
  left: 10%;
}

.left-2 {
  left: 20%;
}

.left-3 {
  left: 30%;
}

.left-4 {
  left: 40%;
}

.left-5 {
  left: 50%;
}

.left-6 {
  left: 60%;
}

.left-7 {
  left: 70%;
}

.left-8 {
  left: 80%;
}

.left-9 {
  left: 90%;
}

.left-10 {
  left: 100%;
}

.bottom-0 {
  bottom: 0%;
}

.bottom-1 {
  bottom: 10%;
}

.bottom-2 {
  bottom: 20%;
}

.bottom-3 {
  bottom: 30%;
}

.bottom-4 {
  bottom: 40%;
}

.bottom-5 {
  bottom: 50%;
}

.bottom-6 {
  bottom: 60%;
}

.bottom-7 {
  bottom: 70%;
}

.bottom-8 {
  bottom: 80%;
}

.bottom-9 {
  bottom: 90%;
}

.bottom-10 {
  bottom: 100%;
}

.redondear-1, .btn-10-azul, .btn-20-azul, .btn-50-azul, .btn-80-azul, .btn-100-azul, .btn-10-azul:hover, .btn-20-azul:hover, .btn-50-azul:hover, .btn-80-azul:hover, .btn-100-azul:hover, .btn-10-transparente, .btn-20-transparente, .btn-50-transparente, .btn-80-transparente, .btn-100-transparente, .btn-10-transparente:hover, .btn-20-transparente:hover, .btn-50-transparente:hover, .btn-80-transparente:hover, .btn-100-transparente:hover, .btn-10-tres, .btn-20-tres, .btn-50-tres, .btn-80-tres, .btn-100-tres, .btn-10-tres:hover, .btn-20-tres:hover, .btn-50-tres:hover, .btn-80-tres:hover, .btn-100-tres:hover, .btn-10-cuatro, .btn-20-cuatro, .btn-50-cuatro, .btn-80-cuatro, .btn-100-cuatro, .btn-10-cuatro:hover, .btn-20-cuatro:hover, .btn-50-cuatro:hover, .btn-80-cuatro:hover, .btn-100-cuatro:hover, .btn-10-cinco, .btn-20-cinco, .btn-50-cinco, .btn-80-cinco, .btn-100-cinco, .btn-10-cinco:hover, .btn-20-cinco:hover, .btn-50-cinco:hover, .btn-80-cinco:hover, .btn-100-cinco:hover {
  border-radius: 10px;
}

.redondear-2 {
  border-radius: 20px;
}

.redondear-3 {
  border-radius: 30px;
}

.redondear-4 {
  border-radius: 40px;
}

.redondear-5 {
  border-radius: 50px;
}

.redondear-circulo {
  border-radius: 50%;
}

body {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border: 1px solid black;
  padding: 20px;
}

.row {
  display: flex;
  width: auto;
  gap: 10px;
  height: auto;
  align-items: center;
  margin-top: 10px;
}

label {
  margin-right: 10px;
  border-radius: 10px;
}/*# sourceMappingURL=form.css.map */