.redondear-1 {
    border-radius: 10px;
  }
  
.redondear-2 {
    border-radius: 20px;
}

.redondear-3 {
    border-radius: 30px;
}
  
.redondear-4 {
    border-radius: 40px;
}
  
.redondear-5 {
    border-radius: 50px;
}

.redondear-5 {
    border-radius: 50px;
}