@use 'colorFondoElemento';

/*********************************************************/
/*              CREANDO SOMBRAS MAZISAS                  */
/*********************************************************/

/*****Sombras para contenedores*****/

.Sombra-basicona{
    box-shadow: 5px 5px 10px $bgColor1;
    transition: 1s;
}

.Sombra-basicona:hover{
    box-shadow: 5px 5px 30px $bgColor2;
    transition: 2s;
}


.Sombra-basicona-interna{
    box-shadow: 2px 2px 10px $bgColor2 inset;
    transition: 2s;
}

.Sombra-basicona-interna:hover{
    box-shadow: 2px 2px 10px $bgColor1;
    transition: 2s;
}


.sombra-basicona-mod3D{
    box-shadow: 5px 5px $bgColor1;
}

.sombra-basicona-mod3D:hover{
    box-shadow: 5px 5px $bgColor2 inset, 5px 5px $bgColor1;
}


.sombra-basicona-xy{
    box-shadow: 0px 4px 0px $bgColor1, 0 -4px 0px $bgColor2;
}

.sombra-basicona-xy:hover{
    box-shadow: 
            0px 4px 0px $bgColor1,
            0 -4px 0px $bgColor2, 
            4px 0px 0px $bgColor1 inset, 
            -4px 0px 0px $bgColor2 inset; 
} 
 

//Pxy es en el eje +x~+y N lo contrario
.sombra-basicona-Pxy-Nyz{
    box-shadow: 
            0px 4px 0px $bgColor1,
            0 -4px 0px $bgColor2, 
            4px 0px 0px $bgColor1 inset, 
            -4px 0px 0px $bgColor2 inset; 
}

/****Sombras para img sin fondo****/

.sombra-img-transparente{
    filter: drop-shadow(0 0 3px $bgColor3);
    filter: drop-shadow(0 0 3px $bgColor4);
    transition: all 0.3s;
}

.sombra-img-transparente:hover{
    filter: drop-shadow(0 0 5px $bgColor1);
    filter: drop-shadow(0 0 5px $bgColor2);
}