body{
    box-sizing: border-box;
}
.sticky{
    position:sticky;
}

.color-1{
    color: #60DFF6;
}

.color-2{
    color:#FFE69C;
}

.color-3{
    color:#5BDFC1;
}

.overflow{
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

.overflow-2{
    max-height: 500px;
    overflow-y: auto;
   
}

.position{
    z-index: 10;
}

.puntos
{
  list-style: inside;
}

.transparencia
{
  max-width: 200px;
  max-height: auto;
}
