*{
    text-decoration: none;
}


.nav-bar-no-responsive {
    background-color: #14142b;
    height: 80px;
    width: 100%;
    list-style: none;
  }
  .nav-bar-no-responsive  label.logo {
    color: #fbfdff;
    line-height: 80px;
    padding: 0 100px;
  }
  .nav-bar-no-responsive  a.active, .nav-bar-no-responsive  a:hover {
    background: #0255a5;
    transition: 0.5 all;
  }
  
  .nav-bar-no-responsive  ul {
    float: right;
  }
  
  .nav-bar-no-responsive  ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  .nav-bar-no-responsive  ul li a {
    color: #fbfdff;
    text-transform: uppercase;
    padding: 7px 13px;
  }
  


.nav-bar-2-no {
  background-color: #3e31fa;
  height: 80px;
  width: 100%;
  list-style: none;
}
.nav-bar-2-no label.logo {
  color: #fbfdff;
  line-height: 80px;
  padding: 0 100px;
}
.nav-bar-2-no a.active, .nav-bar-2-no a:hover {
  background: #0255a5;
  transition: 0.5 all;
}

.nav-bar-2-no ul {
  float: right;
}

.nav-bar-2-no ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.nav-bar-2-no ul li a {
  color: #fbfdff;
  text-transform: uppercase;
  padding: 7px 13px;
}

.nav-bar-amburguesa-no{
  background: #0f2145;
  height: 80px;
  width: 100%;
  box-sizing: border-box;  
  text-decoration: none;
  list-style: none;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.nav-bar-amburguesa-no ul{
  float: right;
  margin-right: 20px;
}
.nav-bar-amburguesa-no ul li{
  display: inline-block;
  line-height: 80px;
}

.nav-bar-amburguesa-no ul li a{
  color:white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}

a.active, a:hover{
  background: #1b9bff;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px; 
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }

  .nav-bar-amburguesa-no ul li a{
    font-size: 16px;
  }
}

@media (max-width: 1000px){
  .checkbtn{
    display: block;
  }
 
  .nav-bar-amburguesa-no ul{
    position: fixed;
    width: 100%;
    height: auto;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    display: none; 
   
  } 

  .nav-bar-ul{
    background-color: #0f2145;
    width: 100%;

  }

  .nav-bar-amburguesa-no ul li a{
    font-size: 20px;
    margin: 50px 0;
    line-height: 30px;
  }

  .nav-bar-amburguesa-no a:hover, a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

@media (max-width:1000px){
  .contenedor1{
    margin-top: 100px;
  }
}